*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 1%;
    margin-left: 2%;
}

h2{
    margin-left: 2%;
    margin-top: 0.5%;
}

.box1{
    background-color: white;
    margin: 1.5%;
    border: 1px solid black;
    padding: 10px;
    line-height: 300%;
    padding-bottom: 1%;
 }

 /* body{
    background-color: black;
 } */

.container{
    margin-top: 1%;
    background-color: black;
    color: white;
    height: 100vh;
}

input, button{
    margin-left:2%;
}

button{
    width: 5vw;
    height: 3.5vh;
}

input{
    color: white;
    opacity: 100%;
    width: 90vw;
    height: 3vh;
    border: 1px solid white;
    background-color: black;
}

button{
    background-color: white;
    padding: 0.5em;
}

/* #add{
    margin: 3%;
} */
.result{
    margin: 1%;
    border: 1px solid white;
    padding: 5px;
    line-height: 300%;
}